.shipping-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    margin-top: 40px;
    width: 45%;

    ul{
      list-style-type: none;
      padding-left: 0px;

      li {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 25px;

        > label {
          flex: 1;
          padding: .5em 1em .5em 0;
          font-weight: 700;
        }

        > input, > select {
          flex: 2;
          padding: .5em;
          border: 1px solid #c4c4c4;
          border-radius: 3px;
        }

        button {
          width: 120px;
          height: 40px;
          cursor: pointer;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 300;
          color: #717171;

          &:disabled {
            cursor: not-allowed;
            color: #c7c7c7;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .shipping-form {
    form {
      width: 90%;

      ul {
        li {
          > label, > input, > select {
            flex: inherit;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .shipping-form {
    form {
      width: 90%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .shipping-form {
    form {
      width: 65%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .shipping-form {
    form {
      width: 55%;
    }
  }
}