.product-item {
  width: 80%;
  padding: 20px 15px;
  border-bottom: 1px solid #bdbdbd;
  color: #5b5b5b;

  .inner-div {
    display: flex;
    flex-direction: row;

    > div {
      padding: 0px 10px;
    }

    .image-div {
      width: 15%;

      img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        border-radius: 15px;
        border: 1px solid #737373;
        filter: drop-shadow(0 0 8px rgba(0,60,120,.09));
        -webkit-filter: drop-shadow(0 0 8px rgba(0,60,120,.09));
      }
    }

    .title-description-div {
      display: flex;
      padding-right: 50px;
      flex-direction: column;
      width: 50%;
      border-right: 1px solid #bdbdbd;

      p {
        margin: 0px;

        &.title {
          margin-bottom: 15px;
          color: #000;
        }
      }
    }

    .count-price-del-div {
      display: flex;
      flex-direction: column;
      width: 35%;

      p {
        svg {
          cursor: pointer;
          -webkit-transition: color .3s ease;
          -moz-transition: color .3s ease;
          -o-transition: color .3s ease;
          transition: color .3s ease;
          font-size: 1.15em;

          &:hover {
            color: #000;
          }
        }
      }

      .count-price-div {
        margin-top: 15px;
        font-size: 1.15em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .count {
          > div {
            padding: 0px 10px;
          }

          input {
            width: 30px;
            text-align: center;
            border: 0px;
          }

          input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          span {
            margin: 0px 15px;
            border: 1px solid #bdbdbd;
            display: inline-block;
            text-align: center;
            width: 25px;
            line-height: 25px;
            cursor: pointer;
            -webkit-transition: color .25s ease, background-color .25s ease;
            -moz-transition: color .25s ease, background-color .25s ease;
            -o-transition: color .25sease, background-color .25s ease;
            transition: color .25s ease, background-color .25s ease;

            &:hover {
              color: white;
              background-color: #000;
            }
          }
        }

        .price {
          color: #000;
          vertical-align: middle;
          line-height: 25px;
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .product-item {
    width: 95%;
    padding: 20px 10px;

    .inner-div {
      flex-wrap: wrap;

      > div {
        padding: 0px 5px;
      }

      .image-div {
        width: 25%;

        img {
          width: 95px;
          height: 95px;
        }
      }

      .title-description-div {
        width: 65%;
        border-right: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;

        .description {
          display: none;
        }
      }

      .count-price-del-div {
        flex-direction: row-reverse;
        width: 100%;

        .count-price-div {
          margin-right: auto;
          font-size: 1em;

          .count {
            span {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .product-item {
    .inner-div {
      flex-wrap: wrap;

      .image-div {
        width: 20%;

        img {
          height: 90px;
        }
      }

      .title-description-div {
        width: 72%;
        border-right: 0px;
        padding-right: 0px;
      }

      .count-price-del-div {
        flex-direction: row-reverse;
        width: 100%;

        .count-price-div {
          margin-right: auto;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .product-item {
    .inner-div {
      flex-wrap: wrap;

      .image-div {
        width: 20%;

        img {
          height: 120px;
        }
      }

      .title-description-div {
        width: 72%;
        border-right: 0px;
        padding-right: 0px;

      }

      .count-price-del-div {
        flex-direction: row-reverse;
        width: 100%;

        .count-price-div {
          margin-right: auto;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-item {
    .inner-div {
      .image-div {
        width: 19%;
      }

      .title-description-div {
        padding-right: 35px;
        width: 47%;
      }

      .count-price-del-div {
        width: 34%;

        .count-price-div {
          .count {
            span {
              margin: 0px 10px;
            }
          }
        }
      }
    }
  }
}
